.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #d3a6d3 ;
  color:floralwhite;
  margin-bottom: 25px;
}

.footer{
  background-color: #bb5dbb;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.primary {
  background-color: #bb5dbb;
}

a {
  color: cornsilk;
}

a:hover {
  background-color:rgb(228, 170, 228);
  color:rgb(104, 73, 104)
}

